<%= render partial: 'navs/main_nav'%>
<main>
  <div class='setup'>
    <div class='user'>
      <h2>Welcome <%= @steam_user.name %>!</h2>
      <img src=<%= @steam_user.avatar %>>
      <p>Steam Id: <%= @steam_user.steam_id %><p>
      <p>Currently Playing As: <%= @steam_user.persona %></p>
      <p>Rank Tier: <%= @steam_user.rank_tier %></p>
      <p>MMR Estimate: <%= @steam_user.mmr %></p>
    </div>
    <div class='top-hero-stats'>
      <h2>Statistics for Your Top Heroes</h2>
    </div>
  </div>

  <div class='heroes'>
    <div class='stat-pick'>
      <% @hero = @steam_user.top_heroes.sample %>
      <h1>Stat Pick: <%= @hero.name %></h1>
      <img src=<%= @hero.image %>>
    </div>
    <div class='fun-pick'>
      <% unless @steam_user.fun_heroes.count == 0 %>
        <% @fun_hero = @steam_user.fun_heroes.sample %>
        <h1>Fun Pick: <%= @fun_hero.name %></h1>
        <img src=<%= @fun_hero.image %>>
      <% else %>
        <% @fun_hero = @steam_user.random_heroes.sample %>
        <h1>Fun Pick: <%= @fun_hero.name %></h1>
        <img src=<%= @fun_hero.image %>>
      <% end %>
    </div>
    <div class='random-pick'>
      <% @random_hero = @steam_user.random_heroes.sample %>
      <h1>Random Pick: <%= @random_hero.name %></h1>
      <img src=<%= @random_hero.image %>>
    </div>
  </div>
</main>
