<!DOCTYPE html>
<html>
  <head>
    <title>PlayMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'navs/main_nav' %>
    <%= render partial: 'navs/side_nav' %>
    <%= render partial: 'navs/play_or_flame' %>
    <%= yield %>
  </body>
</html>
